<div class="btn-create-mobile"><a href="../../event">+</a></div>
<div class="home-page">
    <div class="left-side">
        <div class="title-searchbar">
            <ul>
                <li><h1><a href="/" title="Revenir à l'accueil">Lagg<span>y</span></a></h1></li>
                <li><input type="date"></li>
            </ul>
        </div>
        <hr>
        <nav>
        <h2>{{ data.moisFr|capitalize }} {{ data.y }}</h2>
            <div class="container">
                <div class="container-date">
                <ul>
                <li><a href="./week"><span>Semaine</span></a></li>
                <li><a href="./?mois=courant"><span class='active' title="Revenir au mois courant">Mois</span></a></li>
                <li><a href="./year"><span>Année</span></a></li>
            </ul>
                </div>
                <div class="container-switch">
                    <ul>
                        <li><a href='?mois=avant'><span class='active'>&lt;</span></a></li>
                        <li><a href="./?mois=courant"><span class='active' title="Revenir au mois courant">Mois&nbsp;courant</span></a></li>
                        <li><a href='?mois=suivant'><span class='active'>&gt;</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <main>
            <div class="calendar">
                <ul class="calendar--days">
                    {% for i in data.columnsHeads %}
                        <li>{{ i|capitalize }}</li>
                    {% endfor %}
                </ul>
                 <ul class="calendar--dates">
                    {% for i in data.month %}
                        <li class="{% if i<0 %}prev{% endif %} {% if i == data.d and data.m == data.currentMonth  %}active{% endif %}">{{i|abs}}</li>
                    {% endfor %}
                </ul>
            </div>
        </main>
        </div>
        <div class="right-side">
            <div class="message-user">
                <ul>
                    <li><img src="../assets/calendar.png" alt="Calendrier"></li>
                    <li> Connecte-toi !</li>
                </ul>
            </div>
            <hr>
            <div class="side-nav">
                <ul>
                    <li>
                        <h3>{{ data.moisFr|capitalize }} {{ data.y }}</h3>
                    </li>
                    <li><a href='?mois=avant'><span class='active'>&lt;</span></a></li>
                    <li><a href='?mois=suivant'><span class='active'>&gt;</span></a></li>
                </ul>
            </div>
            <div class="side-main">
                <div class="calendar">
                    <ul class="calendar--days">
                        {% for i in data.columnsHeads %}
                            <li>{{ i|first|capitalize }}</li>
                        {% endfor %}
                    </ul>
                    <ul class="calendar--dates">
                    {% for i in data.month %}
                        <li class="{% if i<0 %}prev{% endif %} {% if i == data.d and data.m == data.currentMonth  %}active{% endif %}">{{i|abs}}</li>
                    {% endfor %}
                </ul>
                </div>
            </div>
            <div class="side-footer">
                <div class="description"><span>09:00 - 17:00</span><br>
                    Intégration des maquettes <br>
                    Paul, Pierre, Jacques
                </div>
            </div>
        </div>
</div>
