<nav>
    <h1>Lagg<span>y</span></h1>
    <ul>
        <li><img src="../assets/calendar.png" alt="calendrier"></li>
        <li><a href="/compte?action=deconnection" title="Déconnection">{{ session.user.name|capitalize }}</a></li>
    </ul>
</nav>
<div class="action-bar">
    <div class="container-switch">
    <ul>
        <li><a href="./week"><span>S</span></a></li>
        <li><a href="./?mois=courant"><span class='active' title="Revenir au mois courant">M</span></a></li>
        <li><a href="./year"><span>A</span></a></li>
    </ul>
    </div>
    <div class="container-span"><span>+</span>
    </div>
</div>
<div class="date-bar">
    <h2>{{ data.moisFr|capitalize }} {{ data.y }}</h2>
    <ul>
        <li><a href='?mois=avant'><span class='active'>&lt;</span></a></li>
        <li><a href='?mois=suivant'><span class='active'>&gt;</span></a></li>
    </ul>
</div>

<div class="container-main">
    <div class="calendar">
        <ul class="calendar--days">
            {% for i in data.columnsHeads %}
                <li>{{ i|first|capitalize }}</li>
            {% endfor %}
        </ul>
        <ul class="calendar--dates">
            {% for i in data.month %}
                <li class="{% if i<0 %}prev{% endif %} {% if i == data.d and data.m == data.currentMonth  %}active{% endif %}">{{i|abs}}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<footer>
    <div class="event-card">
        <div class="hour">08:30</div>
        <div class="description">Présentation du jour, <br>2 personnes</div>
    </div>
</footer>
