<nav>
  <ul>
    <a href="/">Home</a> |
    <a href="/cal">Calendrier</a> |
    <a href="/mob">Mob Mois</a> |
    <a href="/compte">Compte</a> |
    <a href="/t">Test GC7</a>
  </ul>
</nav>
<nav>
  <ul>
    <a href="/events">Events</a> |
    <a href="/month">Migration</a> |
    <a href="/week">Migration</a> |
    <a href="/year">Migration</a> |
    <a href="/migration">Migration</a> |
  </ul>
</nav>
