@charset "UTF-8";
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                      RESET
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none; /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: subpixel-antialiased; /*─ Debug safari font weight when fixed element on the page ─*/
  -webkit-font-smoothing: antialiased; /*─ idem : Debug safari font weight when fixed element on the page ─*/
}

html, body, nav, header, footer, div, span,
h1, h2, h3, p,
a, img,
ul, li,
table, form, label, input, textarea, select, button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

input, textarea, select, button {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type=submit]:hover,
button:hover {
  cursor: pointer;
}

input::-ms-clear {
  display: none; /*─ IE11 → remove cross to close ─*/
}

textarea {
  overflow: auto; /*─ Hide scroll bar on IE ─*/
}

a {
  color: inherit;
  text-decoration: none;
}

img, video, svg, picture {
  display: block;
}

img, video {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  background: #F8F5F2;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100vw;
  height: 2vh;
}
nav ul {
  display: flex;
  justify-content: space-around;
  padding-top: 10;
}
nav ul li {
  font-weight: 400;
  font-size: 1.1rem;
}
nav ul h1 {
  font-size: 1.2rem;
  font-weight: 500;
}
nav ul li:not(:nth-child(2)) {
  color: rgba(0, 0, 0, 0.4);
}
nav ul li:not(:nth-child(2)):hover {
  color: #055858;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
}
.container input {
  width: 290px;
  height: 55px;
}
.container input[type=text] {
  border-radius: 8px 8px 0 0;
  position: relative;
}
.container input[type=text]:before {
  position: absolute;
  content: "toto";
  height: 2px;
  width: 30px;
  background-color: black;
}
.container input[type=text] {
  border-radius: 0 0 8px 8px;
}
.container input[type=text] {
  border-radius: 8px 8px 0 0;
}
.container input[type=text] {
  border-radius: 0 0 8px 8px;
}
.container input[type=text] {
  border-radius: 8px;
}
.container ::placeholder {
  color: rgba(0, 0, 0, 0.4);
  padding-left: 12px;
}

fieldset {
  background-color: rgba(7, 128, 128, 0.3);
  border-radius: 8px;
  margin-top: 18%;
  padding: 0;
  border: none;
}

.line {
  width: 93%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: auto;
}

textarea {
  min-height: 255px;
  width: 290px;
  padding-top: 10px;
}

/*# sourceMappingURL=eventStyle.css.map */
