$red: rgb(197, 0, 0);
$green: rgb(0, 171, 0);
$fdred : lighten($red, 50%);
$fdgreen : lighten($green, 50%);

@font-face {
    font-family: 'Poppins Regular';
    src: url('/views/poppins-cufonfonts/Poppins-Regular.ttf') format('truetype');
}

/* Formatage MAJ ALT F */
header {
    text-align: center;
}

h1 {
    font-weight: lighter;
    font-size: 60px;
}

span {
    color: #078080;
}

body {
    font-family: 'Poppins Regular', Courier, monospace;
    font-size: 13px;
    justify-content: center;
    background-color: white;
}

h2 {
    font-size: 23px;
    text-align: center;
    font-weight: 500;

}

p {
    margin: 0;
}

.link {
    color: #000000;
}

.link:hover {
    color: #10a8a8;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.containercnx {
    width: 220px;
    display: block;
    height: 330px;
    border-radius: 8px;
    padding: 14px 30px 8px 30px;
    margin: 60px;
    margin-left: 50px;
    background-color: #D5E6ED;
}

.pseudo .motdepasse {
    border-radius: 10px;
    font-weight: lighter;
}

input {
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0 13px;
    border: none;
    background-color: white;
    outline: none;
}

.boutton input {
    color: white;
    background-color: #074444d5;
    font-size: 16px;
    font-weight: lighter;
    cursor: pointer;
}

.boutton :hover {
    background-color: #078080;
}

.continscr {
    width: 230px;
    display: block;
    height: auto;
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    background-color: #D5E6ED;
}

.form-response ::before {
    content: 'xxx';
}

.compte-title {
    font-size: 2rem;
    text-align: center;
    color: #777;
    line-height: .7;
}

p.msg {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    width: 90%;
    padding: 7px;
    border-radius: 7px;
    margin: 20px auto;
    border: 3px solid #ccc;
    box-shadow: -4px 2px 5px #ddd,
        -8px 5px 7px rgb(255, 237, 136);
        
    &.color-msg-red {
        color: darken($red, 10%);
        background-color: $fdred;
    }

    &.color-msg-green {
        color: darken($green, 10%);
        background-color: $fdgreen;
    }
}

.display-none {
    display: none;
}

@media screen and (min-width: 340px) and (max-width: 799px) {

    h2 {
        font-size: 24px;
        text-align: center;
        font-weight: bolder;
        margin-bottom: 36px;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .containercnx {
        width: 220px;
        display: block;
        height: 350px;
        border-radius: 8px;
        padding: 20px 30px 10px 30px;
        margin: 30px;
        background-color: #F8F5F2;
    }

    input {
        box-sizing: border-box;
        border-radius: 5px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0 17px;
        border-style: none;
        background-color: #07808041;
    }

    .boutton input {
        color: white;
        background-color: #074444d5;
        font-size: 17px;
        font-weight: lighter;
        cursor: pointer;

    }

    .boutton :hover {
        background-color: #078080;
    }

    .continscr {
        width: 230px;
        display: block;
        flex-direction: column;
        height: auto;
        border-radius: 8px;
        padding: 15px 30px 15px 30px;
        background-color: #F8F5F2;
    }
}
