@charset "UTF-8";
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                      RESET
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none; /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: subpixel-antialiased; /*─ Debug safari font weight when fixed element on the page ─*/
  -webkit-font-smoothing: antialiased; /*─ idem : Debug safari font weight when fixed element on the page ─*/
}

html, body, nav, header, footer, div, span,
h1, h2, h3, p,
a, img,
ul, li,
table, form, label, input, textarea, select, button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

input, textarea, select, button {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type=submit]:hover,
button:hover {
  cursor: pointer;
}

input::-ms-clear {
  display: none; /*─ IE11 → remove cross to close ─*/
}

textarea {
  overflow: auto; /*─ Hide scroll bar on IE ─*/
}

a {
  color: inherit;
  text-decoration: none;
}

img, video, svg, picture {
  display: block;
}

img, video {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  background: #F8F5F2;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
}

hr {
  margin: 0;
  padding: 0;
}

.mobile {
  padding: 0 10px 0 10px;
  height: 100vh;
  width: 100vw;
}
.mobile nav {
  height: 10vh;
  width: auto;
  display: flex;
  align-items: center;
}
.mobile nav h1 {
  font-size: 3rem;
}
.mobile nav h1 span {
  color: rgb(7, 128, 128);
}
.mobile nav ul {
  display: flex;
  flex-grow: 1;
  justify-content: end;
  gap: 5vw;
}
.mobile nav li:last-child {
  padding-top: 5px;
  font-size: 1.5rem;
}
.mobile nav img {
  width: 46px;
  height: 46px;
}
.mobile .action-bar {
  height: 10vh;
  width: auto;
  display: flex;
  align-items: center;
}
.mobile .action-bar .container-switch {
  background-color: rgba(7, 128, 128, 0.2);
  width: 75%;
  height: 60%;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.mobile .action-bar .container-switch ul {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
}
.mobile .action-bar .container-switch ul span {
  border-radius: 8px;
  font-size: 1.5rem;
  padding-right: 8vw;
  padding-left: 8vw;
}
.mobile .action-bar .container-switch ul li:hover, .mobile .action-bar .container-switch ul li .active {
  background-color: #f8f5f2;
  border-radius: 8px;
  color: rgb(7, 128, 128);
}
.mobile .action-bar .container-button {
  background-color: rgba(7, 128, 128, 0.2);
  border-radius: 8px;
  width: 20%;
  height: 60%;
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 200;
  transition: 0.2s;
}
.mobile .action-bar .container-button:hover {
  background-color: rgb(7, 128, 128);
  color: #f8f5f2;
  transition: 0.2s;
}
.mobile .date-bar {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile .date-bar h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
.mobile .date-bar ul {
  display: flex;
  gap: 2vw;
}
.mobile .date-bar ul span {
  display: block;
  padding: 2vh 7vw 2vh 7vw;
}
.mobile .date-bar ul li {
  border: solid 1px rgb(138, 138, 138);
  color: rgb(138, 138, 138);
  border-radius: 8px;
  transition: 0.2s;
}
.mobile .date-bar ul li:hover {
  background-color: rgb(7, 128, 128);
  border-radius: 8px;
  color: #f8f5f2;
  border: none;
  transition: 0.2s;
}

.monday, .tuesday, .wednesday, .thursday, .friday, .saturday, .sunday {
  display: flex;
  margin-top: 4vh;
}
.monday .left-side, .tuesday .left-side, .wednesday .left-side, .thursday .left-side, .friday .left-side, .saturday .left-side, .sunday .left-side {
  width: 15vw;
}
.monday .left-side h3, .monday .left-side .number, .tuesday .left-side h3, .tuesday .left-side .number, .wednesday .left-side h3, .wednesday .left-side .number, .thursday .left-side h3, .thursday .left-side .number, .friday .left-side h3, .friday .left-side .number, .saturday .left-side h3, .saturday .left-side .number, .sunday .left-side h3, .sunday .left-side .number {
  font-size: 1.4rem;
  font-weight: 500;
}
.monday .left-side h2, .tuesday .left-side h2, .wednesday .left-side h2, .thursday .left-side h2, .friday .left-side h2, .saturday .left-side h2, .sunday .left-side h2 {
  font-size: 1.7rem;
  font-weight: 500;
  color: #055858;
}
.monday .left-side .number, .tuesday .left-side .number, .wednesday .left-side .number, .thursday .left-side .number, .friday .left-side .number, .saturday .left-side .number, .sunday .left-side .number {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3vw;
}
.monday .left-side .active, .tuesday .left-side .active, .wednesday .left-side .active, .thursday .left-side .active, .friday .left-side .active, .saturday .left-side .active, .sunday .left-side .active {
  border-radius: 50%;
  background-color: #055858;
  color: #f8f5f2;
  margin-right: 10px;
}
.monday .left-side span, .tuesday .left-side span, .wednesday .left-side span, .thursday .left-side span, .friday .left-side span, .saturday .left-side span, .sunday .left-side span {
  font-size: 1.7rem;
}
.monday .right-side, .tuesday .right-side, .wednesday .right-side, .thursday .right-side, .friday .right-side, .saturday .right-side, .sunday .right-side {
  width: 85vw;
}
.monday .right-side .blue, .tuesday .right-side .blue, .wednesday .right-side .blue, .thursday .right-side .blue, .friday .right-side .blue, .saturday .right-side .blue, .sunday .right-side .blue {
  background: #4C88FB;
}
.monday .right-side .orange, .tuesday .right-side .orange, .wednesday .right-side .orange, .thursday .right-side .orange, .friday .right-side .orange, .saturday .right-side .orange, .sunday .right-side .orange {
  background: #FF8906;
}
.monday .right-side .red, .tuesday .right-side .red, .wednesday .right-side .red, .thursday .right-side .red, .friday .right-side .red, .saturday .right-side .red, .sunday .right-side .red {
  background: #F45D48;
}
.monday .right-side .description, .tuesday .right-side .description, .wednesday .right-side .description, .thursday .right-side .description, .friday .right-side .description, .saturday .right-side .description, .sunday .right-side .description {
  color: #f8f5f2;
  padding: 8px;
  font-size: 0.8rem;
  border-radius: 8px;
  margin-bottom: 5px;
}
.monday .right-side .hours, .tuesday .right-side .hours, .wednesday .right-side .hours, .thursday .right-side .hours, .friday .right-side .hours, .saturday .right-side .hours, .sunday .right-side .hours {
  font-weight: 600;
  padding-bottom: 0.5vh;
}

/*# sourceMappingURL=mobileWeekStyle.css.map */
