@import 'scss/reset';
@import 'scss/base';
@import 'scss/templateMobile';



.monday, .tuesday, .wednesday, .thursday, .friday, .saturday, .sunday {
  display: flex;
  margin-top: 4vh;
  .left-side {
    width: 15vw;
    h3, .number {
      font-size: 1.4rem;
      font-weight: 500;
    }
    h2 {
      font-size: 1.7rem;
      font-weight: 500;
      color: #055858;
    }
    .number {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 3vw;
    }
    .active {
      border-radius: 50%;
      background-color: #055858;
      color: #f8f5f2;
      margin-right: 10px;
    }
    span {
      font-size:1.7rem;
    }

  }
  .right-side {
    width: 85vw;
    .blue {
      background: #4C88FB;
    }
    .orange {
      background: #FF8906;
    }
    .red {
      background: #F45D48;
    }
    .description {
      color: #f8f5f2;
      padding: 8px;
      font-size: 0.8rem;
      border-radius: 8px;
      margin-bottom: 5px;
    }
    .hours {
      font-weight: 600;
      padding-bottom: 0.5vh;
    }
  }
}
