@import 'scss/reset';
@import 'scss/base';
@import 'scss/_templateMobile.scss';


.mobile {
.calendar {
    width: 100%;
    height: 45vh;
    margin-bottom: 15%;
    &--days {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4rem;

        li {
            font-size: 1.8rem;
            flex: 1;
            font-weight: 400;
            text-align: center;
            color: rgb(0, 0, 0);
        }
    }
    &--dates {
        display: grid;
        gap: 3px;
        grid-template-columns: repeat(7, 1fr);
        justify-items: center;
        text-align: center;
        li {
            height: 4rem;
            width: 3rem;
            font-size: 1.5rem;
            display: grid;
            place-items: center;
            font-weight: 300;
            position: relative;
        }
        li.prev,
            li.next {
                color: #ccc;
            }
            li.active {
                background: rgba(7, 128, 128, 100%);
                color:#f8f5f2;
                border-radius:50%;
        }
     }
}

.event-card {
    background-color: rgba(244, 93,72, 20%);
    height: 15vh;
    border-radius: 8px;
    padding: 20px;
    font-size: 1.5rem;
    color:  rgba(244, 93,72, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vh;
    .hour {
        font-weight: 300;
        font-size: 1.5rem;
    }
    .description {
        font-weight: 500;
        font-size: 1.3rem;
    }
}
}

