@import 'scss/reset';
@import 'scss/base';
@import 'scss/templateMobile';

section {
    display: flex;
.left-side, .right-side {
    width: 47%;
    margin-top:3vh;
    
}
.right-side {
}
.left-side {
    margin-right: 5vw;
}
}
.calendar {
    h2 {
        font-weight: 500;
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 2vh;
        margin-top: 4vh;
    }
    &--dates {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        justify-items: center;
        text-align: center;
        gap: 5px;
        li {
            display: grid;
            height: 1.5rem;
            width: 1rem;
            font-size: 0.7rem;
            place-items: center;
            font-weight: 400;
            position: relative;
        }
        li.prev,
            li.next {
                color: #ccc;
            }
            li.active {
                background: rgba(7, 128, 128, 100%);
                color:#f8f5f2;
                border-radius:50%;
        }  
     }
}
