@import "scss/reset";
@import "scss/base";
@import "scss/templateDesktop";

main {

  .calendar {
    height: 70vh;
    &--days {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(7, 128, 128, 10%);
      margin-bottom: 10px;
      border-radius: 8px;
      li {
        font-size: 1.3rem;
        flex: 1;
        font-weight: 400;
        text-align: center;
        color: rgb(0, 0, 0);
        padding: 10px;
        margin-right: 20px;


      }
      & :last-child {
        margin-right: 0;
      }
    }
    &--dates {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      justify-items: center;
      text-align: center;
      li {
        height: 11.3vh;
        width: 10.5vw;
        font-size: 1.5rem;
        display: grid;
        place-items: center;
        font-weight: 300;
        position: relative;
        border-bottom: solid 1px #DDDDDD;
        border-right: solid 1px #DDDDDD;
      }
      & :nth-child(1),:nth-child(2),:nth-child(3),:nth-child(4),:nth-child(5),:nth-child(6),:nth-child(7) {
        border-top: solid 1px #DDDDDD;
      }
      &  :first-child {
        border-left:solid 1px #DDDDDD;
      }
      & :nth-child(8),:nth-child(15),:nth-child(22),:nth-child(29), :nth-child(36) {
        border-left: solid 1px  #DDDDDD;
      }
      li.prev,
      li.next {
        color: #ccc;
      }
    }
  }
}
