@import url(mobileWeekStyle.css) (max-width: 1100px);
@import url(weekStyle.css) (min-width: 1100px);
@media screen and (max-width: 1100px) {
  .desktop {
    display: none;
  }
}
@media screen and (min-width: 1100px) {
  .mobile {
    display: none;
  }
}

/*# sourceMappingURL=rwdWeek.css.map */
