@media screen and (max-width:1100px) {
  .desktop {
    display: none;
  }
}
@import url(mobileYearStyle.css) (max-width:1100px);


@media screen and (min-width: 1100px){
  .mobile {
    display: none;
  }
}
@import url(yearStyle.css) (min-width:1100px);