h1 {
  margin: 20px auto;
}

main {
  font-weight: bold;
  color: #3333ff;
}

pre.fd-bleu {
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  border: 1px solid black;
  border-radius: 7px;
  padding: 5px 10px 0 0;
  background-color: rgb(212, 233, 255);
}/*# sourceMappingURL=test.css.map */