$encre: blue;

h1 {
  margin: 20px auto;
}

main {
  font-weight: bold;
  color: lighten($encre, 10%);
}

pre.fd-bleu {
  text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
  border: 1px solid black;
  border-radius: 7px;
  padding: 5px 10px 0 0;

  background-color: rgb(212, 233, 255);
}
