@import "scss/reset";
@import "scss/base";
@import "scss/templateDesktop";

.monday, .tuesday, .wednesday, .thursday, .friday, .saturday, .sunday {
  display: flex;
  margin-top: 4vh;
  .left {
    width: 8vw;
    margin-right: 10px;
    h3, .number {
      font-size: 1.5rem;
      font-weight:500;
    }
    span {
      font-size:1.7rem;
    }
  }
  .right {
    width: 85vw;
    .blue {
      background: #4C88FB;
    }
    .orange {
      background: #FF8906;
    }
    .red {
      background: #F45D48;
    }
    .description {
      color: #f8f5f2;
      padding: 8px;
      border-radius: 8px;
      margin-bottom: 5px;
    }
    .hours {
      font-weight: 600;
      padding-bottom: 0.5vh;
    }
  }
}