@charset "UTF-8";
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                      RESET
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none; /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: subpixel-antialiased; /*─ Debug safari font weight when fixed element on the page ─*/
  -webkit-font-smoothing: antialiased; /*─ idem : Debug safari font weight when fixed element on the page ─*/
}

html, body, nav, header, footer, div, span,
h1, h2, h3, p,
a, img,
ul, li,
table, form, label, input, textarea, select, button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

input, textarea, select, button {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type=submit]:hover,
button:hover {
  cursor: pointer;
}

input::-ms-clear {
  display: none; /*─ IE11 → remove cross to close ─*/
}

textarea {
  overflow: auto; /*─ Hide scroll bar on IE ─*/
}

a {
  color: inherit;
  text-decoration: none;
}

img, video, svg, picture {
  display: block;
}

img, video {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  background: #F8F5F2;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
}

.btn-create-mobile {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background: #055858;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 110px;
  color: #fcd2c8;
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.16);
  right: 20px;
  bottom: 20px;
  z-index: 2;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.btn-create-mobile:hover {
  background-color: #fcd2c8;
  border: solid 10px #055858;
  color: #055858;
  transition: 0.4s ease-in-out;
}

.home-page {
  display: flex;
  padding-left: 1.5%;
}
.home-page .left-side {
  background-color: #f8f5f2;
  width: 77.4%;
  height: 100vh;
  padding-right: 1.5%;
}
.home-page .right-side {
  background-color: #fcd2c8;
  width: 23.6%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.title-searchbar {
  height: 10vh;
  display: flex;
}
.title-searchbar ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-searchbar ul h1 {
  font-size: 6vh;
}
.title-searchbar ul h1 span {
  margin: 0;
  padding: 0;
  color: rgb(7, 128, 128);
}
.title-searchbar ul input {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 1rem 20rem 1rem 0;
}
.title-searchbar ul input[type=date] {
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.5);
}

nav {
  height: 12vh;
  display: flex;
  align-items: center;
}
nav h2 {
  font-size: 1.6vw;
  font-weight: 500;
}
nav .container {
  display: flex;
  justify-content: space-between;
}
nav .container-date {
  background-color: rgba(7, 128, 128, 0.2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 2%;
  margin-right: 2%;
}
nav .container-date ul {
  display: flex;
  justify-content: space-evenly;
}
nav .container-date ul span {
  padding: 2.3vh 2vw 2.3vh 2vw;
  font-size: 1.5rem;
  border-radius: 10px;
  transition: 0.2s;
}
nav .container-date ul span:hover {
  background: rgb(7, 128, 128);
  color: #F8F5F2;
  transition: 0.2s;
}
nav .container-date ul li .active {
  background-color: rgb(7, 128, 128);
  color: #f8f5f2;
}
nav .container-switch {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}
nav .container-switch ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
}
nav .container-switch ul li {
  padding-right: 5px;
}
nav .container-switch ul span {
  padding: 1.3rem 2vw 1.3rem 2vw;
  background-color: rgba(7, 128, 128, 0.2);
  border-radius: 10px;
  transition: 0.2s;
}
nav .container-switch ul span:hover {
  background-color: #078080;
  color: #F8F5F2;
  transition: 0.2s;
}

hr {
  padding: 0;
  margin: 0;
  opacity: 0.3;
  border-bottom: 1px solid black;
}

.message-user {
  height: 10vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message-user ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.message-user ul li:last-child {
  font-size: 1.5rem;
  margin-top: 5px;
}
.message-user ul img {
  width: 45px;
  height: 45px;
}

.side-nav {
  height: 11vh;
  width: auto;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  justify-content: space-between;
}
.side-nav ul {
  display: flex;
}
.side-nav ul h3 {
  font-size: 1.2vw;
  margin-right: 30px;
  padding-top: 8px;
}
.side-nav ul li {
  margin-right: 4px;
}
.side-nav span {
  border: solid 1px rgb(138, 138, 138);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 8px;
  transition: 0.2s;
}
.side-nav span:hover {
  background-color: rgb(138, 138, 138);
  color: #f8f5f2;
  transition: 0.2s;
}

.side-main .calendar {
  width: 100%;
}
.side-main .calendar--days {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vh;
}
.side-main .calendar--days span {
  color: #078080;
}
.side-main .calendar--days li {
  font-size: 2rem;
  flex: 1;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
}
.side-main .calendar--dates {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  text-align: center;
}
.side-main .calendar--dates li {
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  display: grid;
  place-items: center;
  font-weight: 300;
  position: relative;
}
.side-main .calendar--dates li.prev,
.side-main .calendar--dates li.next {
  color: #ccc;
}
.side-main .calendar--dates li.active {
  background: rgb(7, 128, 128);
  color: #f8f5f2;
  border-radius: 50%;
}

.side-footer {
  width: 100%;
  background-color: rgba(244, 93, 72, 0.4);
  height: 20vh;
  margin-top: 5vh;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-footer .description {
  width: 90%;
  height: 80%;
  font-size: 1.5vw;
  color: rgb(244, 93, 72);
}
.side-footer .description span {
  font-weight: 300;
}

main {
  display: flex;
  height: 77vh;
}
main .left, main .right, main .mid-left, main .mid-right {
  width: 25%;
}
main .left {
  margin-right: 2vw;
}
main .mid-left {
  margin-right: 2vw;
}
main .mid-right {
  margin-right: 2vw;
}

.calendar h2 {
  padding-left: 4%;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 2vh;
  margin-top: 4vh;
}
.calendar--dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  text-align: center;
  gap: 5px;
}
.calendar--dates li {
  display: grid;
  height: 2.3vh;
  font-size: 0.7rem;
  place-items: center;
  font-weight: 400;
  position: relative;
}
.calendar--dates li.prev,
.calendar--dates li.next {
  color: #ccc;
}
.calendar--dates li.active {
  background: rgb(7, 128, 128);
  color: #f8f5f2;
  border-radius: 50%;
}

/*# sourceMappingURL=yearStyle.css.map */
