hr {
  margin: 0;
  padding: 0;
}

.mobile {
  padding: 0 10px 0 10px;
  height: 100vh;
  width: 100vw;
  nav {
    height: 10vh;
    width: auto;
    display: flex;
    align-items: center;

    h1 {
      font-size: 3rem;

      span {
        color: rgba(7, 128, 128, 100%);
      }
    }

    ul {
      display: flex;
      flex-grow: 1;
      justify-content: end;
      gap: 5vw;
    }
    li:last-child {
      padding-top: 5px;
      font-size: 1.5rem;
    }
    img {
      width: 46px;
      height: 46px;
    }
  }

  .action-bar {
    height: 10vh;
    width: auto;
    display: flex;
    align-items: center;

    .container-switch {
      background-color: rgba(7, 128, 128, 20%);
      width: 75%;
      height: 60%;
      border-radius: 8px;
      display: flex;
      align-items: center;

      ul {
        display: flex;
        justify-content: space-evenly;
        flex-grow: 1;
        span {
          border-radius: 8px;
          font-size: 1.5rem;
          padding-right: 8vw;
          padding-left: 8vw;
        }

        li:hover, li .active {
          background-color: #f8f5f2;;
          border-radius: 8px;
          color: rgba(7, 128, 128, 100%);
        }
      }

    }

    .container-button {
      background-color: rgba(7, 128, 128, 20%);
      border-radius: 8px;
      width: 20%;
      height: 60%;
      margin-left: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      font-weight: 200;
      transition: 0.2s;
      &:hover {
        background-color: rgba(7, 128, 128, 100%);
        color:#f8f5f2;
        transition: 0.2s;
      }
    }
  }

  .date-bar {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: 1.5rem;
      font-weight: 500;
    }

    ul {
      display: flex;
      gap: 2vw;

      span {
        display: block;
        padding: 2vh 7vw 2vh 7vw;
      }

      li {
        border: solid 1px rgb(138, 138, 138);
        color: rgb(138, 138, 138);
        border-radius: 8px;
        transition: 0.2s;
      }

      li:hover {
        background-color: rgba(7, 128, 128, 100%);
        border-radius: 8px;
        color: #f8f5f2;
        border: none;
        transition: 0.2s;
      }
    }
  }
}
