
.btn-create-mobile{
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background:#055858;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 110px;
  color: #fcd2c8;
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.16);
  right: 20px;
  bottom: 20px;
  z-index: 2;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  &:hover {
    background-color: #fcd2c8;
    border: solid 10px #055858;
    color: #055858;
    transition: 0.4s ease-in-out;
  }
}

.home-page {
  display: flex;
  padding-left: 1.5%;
  .left-side {
    background-color: #f8f5f2;
    width: 77.4%;
    height: 100vh;
    padding-right: 1.5%;
  }

  .right-side {
    background-color: #fcd2c8;
    width: 23.6%;
    padding-left: 1.5%;
    padding-right: 1.5%;
  }
}
.title-searchbar {
  height: 10vh;
  display: flex;
  ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 6vh;
      span {
        margin: 0;
        padding:0;
        color: rgba(7, 128, 128, 1);
      }
    }
    input {
      border: 2px solid rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      padding: 1rem 20rem 1rem 0;
    }
    input[type=date] {
      padding-left: 20px;
      color: rgba(0,0,0,50%);
    }
  }
}

nav {
  height: 12vh;
  display: flex;
  align-items: center;
  h2 {
    font-size: 1.6vw;
    font-weight: 500;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
  .container-date {
    background-color: rgba(7, 128, 128, 20%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 2%;
    margin-right: 2%;
    ul {
      display: flex;
      justify-content: space-evenly;
      span {
        padding: 2.3vh 2vw 2.3vh 2vw;
        font-size: 1.5rem;
        border-radius: 10px;
        transition: 0.2s;
      }
      span:hover {
        background: rgba(7, 128, 128, 100%);
        color: #F8F5F2;
        transition: 0.2s;
      }
      li .active {
        background-color: rgba(7, 128, 128);
        color:#f8f5f2;
      }
    }
  }
  .container-switch {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    ul {
      display: flex;
      justify-content: space-evenly;
      font-size: 1.5rem;
      li {
        padding-right: 5px;
      }
      span {
        padding: 1.3rem 2vw 1.3rem 2vw;
        background-color: rgba(7, 128, 128, 20%);
        border-radius: 10px;
        transition: 0.2s;
      }
      span:hover {
        background-color: #078080;
        color: #F8F5F2;
        transition: 0.2s;
      }
    }
  }

}

hr {
  padding: 0;
  margin: 0;
  opacity: 0.3;
  border-bottom: 1px solid black;
}

.message-user {
  height: 10vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    li:last-child {
      font-size: 1.5rem;
      margin-top:5px;
    }
    img {
      width: 45px;
      height: 45px;
    }

  }
}
.side-nav {
  height: 11vh;
  width: auto;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  justify-content: space-between;
  ul {
    display: flex;
    h3 {
      font-size: 1.2vw;
      margin-right: 30px;
      padding-top: 8px;
    }
    li {
      margin-right: 4px;
    }
  }
  span {
    border: solid 1px rgb(138, 138, 138);
    padding:0.5rem 1rem 0.5rem 1rem;
    border-radius: 8px;
    transition: 0.2s;
  }
  span:hover {
    background-color: rgb(138, 138, 138);
    color: #f8f5f2;
    transition: 0.2s;
  }
}


.side-main {
  .calendar {
    width: 100%;
    &--days {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5vh;
      span {
        color: #078080;
      }
      li {
        font-size: 2rem;
        flex: 1;
        font-weight: 400;
        text-align: center;
        color: rgb(0, 0, 0);
      }
    }
    &--dates {
      display: grid;
      gap: 3px;
      grid-template-columns: repeat(7, 1fr);
      justify-items: center;
      text-align: center;

      li {
        height: 2rem;
        width: 2rem;
        font-size: 1rem;
        display: grid;
        place-items: center;
        font-weight: 300;
        position: relative;
      }
      li.prev,
      li.next {
        color: #ccc;
      }
      li.active {
        background: rgba(7, 128, 128, 100%);
        color:#f8f5f2;
        border-radius:50%;
      }
    }
  }
}
.side-footer {
  width: 100%;
  background-color: rgba(244, 93, 72, 40%);
  height: 20vh;
  margin-top: 5vh;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  .description {
    width: 90%;
    height: 80%;
    font-size: 1.5vw;
    color:rgba(244, 93, 72, 100%) ;
    span {
      font-weight: 300;
    }
  }
}
